body {
  background-color:rgb(87, 86, 86);
  margin: 50px;
  margin-right: 100px;
}

#bloco {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 50px;
  width: 91%;
  height: 88%;
  background: rgba(88, 88, 90, 0);
  border-style:groove;
  border-radius: 10px;
  border-color: black;
  margin: 5px;
}

h1 {
  position: absolute;
  left: 600px;
  top: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#retangulo {
  position: absolute;
  left: 530px;
  top: 160px;
  width: 600px;
  height: 5px;
  background: rgba(0, 26, 255, 0.336);
}

#foto {
  position: absolute;
  border-radius: 25%;
  border-style: inset;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  margin-left: 70px;
  margin-top: 3cm;
  width: 350px;
}

.texto{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#bio {
  padding-right: 5cm;
  position: absolute;
  left: 500px;
  top: 200px;
}

#habilidades{
  position: absolute;
  top: 350px;
  left: 500px;
}
