body {
  background-color:#141d26;
}

h1 {
  position: absolute;
  left: 600px;
  top: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
}

#retangulo {
  position: absolute;
  left: 530px;
  top: 160px;
  width: 600px;
  height: 5px;
  background: #206f98;
}

#foto {
  position: relative;
  border-radius: 30%;
  border-style: inset;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  margin: 50px;
  margin-top: 100px;
  margin-left: 100px;
  width: 280px;
}

#geral{
  border:solid black;
  background-color:#243447;
  width: 1340px;
  margin-top: 40px;
}

.texto{
  position:absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 900px;
  margin-left: 410px;
  top: 200px;
}


.texto a{
  color: blue;
}

a:hover{
  background-color: rgb(69, 100, 240);
}